<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Views/css/styles.css">
</head>
<body>
    <div class="photos">
        <img src="/public/images/rainaimage2.webp" alt="">
        <img src="/public/images/dhoniimage1.jpg" alt="">
        <img src="/public/images/09f60d38f7d958e671c24f73f3f94ffd.jpg" alt="">
        <img src="/public/images/0df669858db29d9c97c68ca81ab7e998.jpg" alt="">
        <img src="/public/images/11267baff1ee25cc7eb5f0e6c1da7127.jpg" alt="">
        <img src="/public/images/116589791.webp" alt="">
        <img src="/public/images/Australia-India-Cricket-3_1735174955185_1735174976582.jpg" alt="">
        <img src="/public/images/12ff5f366d62cbfb443617a243b6f1eb.jpg" alt="">
        <img src="/public/images/13d8ce211d56bd80f9c04b18942055d0.jpg" alt="">
        <img src="/public/images/19dc33ae474286076422163119ef7a05.jpg" alt="">
        <img src="/public/images/19e451cd4b4ce45c27f2edfa066958ac.jpg" style="width: 600px;" alt="">
        <img src="/public/images/1ceae42d49f190a9a364b1b35e27d5e5.jpg" style="width: 400px;" alt="">
        <img src="/public/images/264617.jpg" alt="">
        <img src="/public/images/264623.jpg" alt="">
        <img src="/public/images/26abb043df2d613f304037106bebf34a.jpg" alt="">
        <img src="/public/images/498b2149bcbd23ebe3efcd63467d250d.jpg" alt="">
        <img src="/public/images/5a23d0410c1272aed1ab24d8a2380b97.jpg" style="width: 400px;" alt="">
        <img src="/public/images/5acaf5f10ee177449afa9ce9ab012368.jpg" style="width:400px;" alt="">
        <img src="/public/images/5fae09da1c8e3055c4b9db691d14cb83.jpg" style="width:500px;" alt="">
    </div>
</body>
</html>